<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="johan.android.quizapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bazinga"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizApp">
        <activity
            android:name="johan.android.quizapp.ResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoactionBar"
            android:exported="true" />
        <activity
            android:name="johan.android.quizapp.QuizQuestionsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="johan.android.quizapp.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoactionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>